section#commander {
    background-color: #cccccc;
    position: relative;
    height: 100px;
    background-size: cover;
}

#commander .overPlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.commander {
    width: 100% !important;
}

.mapWrapper {
    width: 100%;
    height: 100vh;
}

#commander .text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 22%;
    transform: translate(-50%, -50%);
    color: #fff;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    font-size: 30px;
}

.commander h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #020007;
    font-weight: 700;
}

.contentBtn {
    width: 100px;
    margin: 1px auto;
}

.button {
    border: 1px solid #ce9900;
    width: auto !important;
    padding: .6rem 2rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    background-color: #ce9900;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pageA {
    height: 90vh;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pageA button {
    border: 1px solid #ce9900;
    width: auto !important;
    padding: .6rem 2rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    background-color: #ce9900;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width:1050px) {
    #commander .text {
        left: 50%;
        top: 50%;
    }
}

@media screen and (max-width:800px) {
    .commander .col-sm-6:first-child {
        display: none;
    }

    .commander .col-sm-6 {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .commander .col-sm-6 .iconsText {
        display: none;
    }

    .log .form {
        width: 90% !important;
        margin-bottom: 1rem;
    }

    .log .signup{
        display: flex;
        flex-direction: column;
        gap: 0 !important;
        justify-content: baseline;
    }

    .log .signup br{
        display: none;
    }

    .commander .text span{
        font-size: 1.2rem;
    }
}

@media screen and (max-width:400px) {
    .log .form {
        width: 95% !important;
        margin-bottom: 1rem;
        padding: 10px !important;
    }

    .log .form input {
        width: 100% !important;
    }
}