section#commander {
    background: url("../../assets/accueil.jpg");
    background-color: #cccccc;
    position: relative;
    margin-top: 72px;
    height: 100px;
}

#commander .overPlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#commander .text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: left;
}

.commander {
    padding: 1px 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 1rem;
}

.commander h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #020007;
    font-weight: 700;
}