section#accueil {
    background: url("../../assets/accueil.jpg");
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    margin-top: 72px;
}

.overImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.accueil .text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.accueil .text h1 {
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.accueil .text p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.accueil .btnDec {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.accueil .btnDec .dec {
    border: 1px solid #ce9900;
    width: auto !important;
    padding: .6rem 2rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    width: 250px !important;
    background-color: #ce9900;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.accueil .btnDec .com {
    border: 1px solid #fff;
    width: 250px !important;
    padding: .5rem 2rem;
    color: #111;
    text-decoration: none;
    border-radius: 5px;
    background-color: silver;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.accueil .btnDec .com svg {
    color: #111;
    position: relative;
    animation: mymove 3s infinite;
}

@media screen and (max-width:635px) {
    .accueil .text {
        text-align: left;
    }

    .accueil .text h1 {
        font-size: 2rem;
    }

    .accueil .text p {
        font-size: 14px;
    }
}

@media screen and (max-width:565px) {
    .accueil .text {
        text-align: center;
        padding: 1rem;
        width: 100%;
    }

    .accueil .text h1 {
        font-size: 2rem;
    }

    .btnDec {
        display: flex;
        flex-direction: column;
    }
}