.accueil {
    height: 500px;
    background-color: #ddd;
    position: relative;
    background: url("../../assets/acc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.accueil .overPlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.accueil .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.swal-button--danger {
    background-color: #fb2638 !important;
}

.accueil .text button {
    border: 1px solid #fb2638;
    color: #fff;
    background-color: #fb2638;
    padding: 1rem;
    border-radius: 30px;
    width: 30%;
    margin: 2rem auto auto auto;
    font-family: "Segoe UI";
    display: flex;
    align-items: center;
    justify-content: center;
}

.accueil .text button svg {
    font-size: 1.5rem;
}

.accueil .text p {
    font-size: 3rem;
    font-weight: bold;
}

.accueil .text span {
    font-size: 1.5rem;
}

@media screen and (max-width:860px) {
    .accueil .text {
        width: 90%;
    }

    .accueil .text p {
        font-size: 2rem;
    }
}

@media screen and (max-width:600px) {
    .accueil .text {
        width: 90%;
    }

    .accueil .text p {
        font-size: 2rem;
    }

    .accueil .text button {
        width: 80%;
    }
}