section#produit {
    background-color: #efefef;
    color: #333;
}

#produit h1 {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    text-align: center;
}

#produit .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.produit .form-group {
    display: flex;
    justify-content: center;
    margin: 1rem 0 3rem 0 !important;
}

.produit input {
    width: 500px !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none !important;
}

.produit button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.produit .footer1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 100%;
    margin: 1px auto;
}

.produit .footer1 ul {
    padding: 0;
    margin: 0;
    width: 250px;
    height: 250px;
}

.produit .footer1 ul li {
    list-style: none;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 14px;
}

.produit .footer1 ul li:first-child {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 800;
}

.produit .footer1 ul li svg {
    color: #333;
}

.produit .footer1 ul li.active a {
    color: #333;
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
}

.produit .reseauxSociaux {
    display: flex;
}

.produit svg {
    color: #555 !important;
}

.produit .reseauxSociaux svg {
    font-size: 20px;
}

@media screen and (max-width: 670px) {
    .produit .footer1 {
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        gap: 1rem;
        width: 100%;
    }

    .produit .footer1 ul {
        padding: 0;
        margin: 0;
        width: 250px;
        height: auto;
    }
}

#scroll-btn {       
    opacity: 0;   
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #333;
    position: fixed;
    bottom: 10%;
    right: 10%;    
    border: 2px solid #fff;
    border-radius: 50%; 
    font: bold 20px monospace;       
    transition: opacity 0.5s, transform 0.5s;
}
#scroll-btn.show {      
    opacity: 1;  
    transition: opacity 1s, transform 1s;     
}