section#produit {
    background-color: #89722b;
    color: #fff;
}

#produit h1 {
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center;
    text-align: center;
}

.produit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}

#produit .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.produit input {
    width: 500px !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.produit button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}