section#techno {
    background-color: #efefef;
    color: #222;
}

#techno h1 {
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2.5rem;
    text-align: center;
}

.techno .grille {
    height: auto;
    display: grid;
    margin-top: 4rem;
    grid-template-columns: repeat(auto-fill, 240px);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.techno .grille .card {
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 0;
    position: relative;
}

.techno .card img {
    width: 100% !important;
    height: 140px;
    object-fit: cover;
}

.techno .card:hover {
    opacity: .4;
}