#developper h1 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
    text-align: center;
    font-weight: bold;
    font-family: "Poppins";
}

section#developper {
    background-color: #fff;
}

.developper .grille {
    display: grid;
    grid-template-columns: repeat(2, 37%);
    gap: 2rem;
    justify-content: center;
    margin-bottom: 5rem;
}

.developper .grille .card {
    border: 1px solid silver;
    position: relative;
    height: 600px;
    margin-bottom: 3rem;
    border-radius: 15px !important;
    margin-bottom: 0;
}

.developper .card-body {
    color: #444;
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
    text-align: center;
    background-color: #ddd;
    transition: all .3s;
    padding: 1rem;
    font-family: "Poppins";
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.developper .card .card-body h4 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Poppins";
    margin-bottom: 1rem;
}

.developper .card .card-body:hover {
    background-color: crimson;
    color: #fff;
}

.developper .card .card-body h4:hover {
    color: #fff !important;
}

.developper .grille .card img {
    width: 100% !important;
    height: 50% !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.developper .grille .card .card-body {
    padding: 1rem;
}

.developper a {
    text-decoration: none !important;
    color: #fff;
}

.developper .card:hover {
    opacity: 0.8;
    transform: scale(1.03);
}

.developper .grille .card .card-body button {
    border: 1px solid #fff;
    width: auto !important;
    padding: .7rem 1rem;
    color: #ffff !important;
    text-decoration: none;
    border-radius: 5px;
    background-color: crimson;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 15px;
    margin-top: 1rem;
}

@media screen and (max-width:1280px) {
    .developper .grille {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        gap: 2rem;
        justify-content: center;
        margin-bottom: 5rem;
    }
}

@media screen and (max-width:1050px) {
    .developper .grille {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        gap: 2rem;
        justify-content: center;
        margin-bottom: 5rem;
    }
}

@media screen and (max-width:1000px) {
    .developper .grille {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        gap: 2rem;
        justify-content: center;
        margin-bottom: 5rem;
    }
}

@media screen and (max-width:600px) {
    section#developper .container {
        width: 100% !important;
        padding: 0;
    }

    section#developper {
        padding: 1rem;
    }

    #developper h1 {
        font-size: 2rem;
    }

    #developper h4 {
        font-size: 1.5rem !important;
    }
}