.developper {
    padding: 5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.developper h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.developper .grille {
    display: grid;
    grid-template-columns: repeat(4, 19%);
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}

.developper .grille .card {
    position: relative;
    text-align: center;
    height: 250px;
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid #ddd;
}

.developper .grille .card img {
    width: 100% !important;
    height: 80% !important;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.developper .grille .card span {
    padding: 0 0 1rem 1rem;
    font-size: 12px !important;
}

.developper a {
    text-decoration: none !important;
    color: #fff;
}

.developper .card:hover {
    opacity: 0.8;
    transform: scale(1.03);
}

@media screen and (max-width:1200px) {
    .developper .grille {
        gap: 1rem;
    }

    .developper .grille {
        grid-template-columns: repeat(4, 24%);
    }
}

@media screen and (max-width:900px) {
    .developper .grille {
        grid-template-columns: repeat(2, 48%);
        gap: 2rem;
    }
}

@media screen and (max-width:800px) {
    .developper {
        padding: 5rem 0;
    }

    .developper .grille .card img {
        object-fit: scale-down;
    }
}

@media screen and (max-width:600px) {
    
    section#developper .container {
        width: 100% !important;
        padding: 0;
    }

    section#developper {
        padding: 1rem;
    }

    #developper h1 {
        font-size: 2rem;
    }

    #developper h4 {
        font-size: 1.5rem !important;
    }

    .developper .grille {
        grid-template-columns: repeat(2, 48.5%);
        gap: 1rem;
        padding: .7rem !important;
    }
}