section#domaine {
    background-color: #efefef;
}

.domaine h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.domaine .row {
    align-items: center;
}

.domaine .col-sm-6 img {
    width: 70%;
    border-radius: 20px;
    float: right;
    margin-right: 5rem;
}

.domaine .col-sm-6 img:hover{
    cursor: pointer;
}

.domaine .col-sm-6 h6 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #020007;
    font-weight: 700;
}

.domaine .col-sm-6 .content{
    text-align: justify;
}

.domaine .link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: #ce9900;
}

.domaine .link a {
    color: #020007;
    text-decoration: none;
}

@media screen and (max-width: 990px) {
    .domaine .grille {
        grid-template-columns: repeat(auto-fill, 100%);
    }

    .domaine .card {
        width: auto !important;
        margin: 0.2rem 1rem;
    }
}