section#domaine {
    background-color: #efefef;
}

.domaine h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.domaine .data {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.domaine .col-sm-6 img {
    width: 100%;
    border-radius: 10px;
}

.domaine .col-sm-6 img:hover {
    cursor: pointer;
}

.domaine .col-sm-6 h6 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #020007;
    font-weight: 700;
}

.domaine .col-sm-6 .content {
    text-align: justify;
}

.domaine .link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: #ce9900;
}

.domaine .link a {
    color: #020007;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .domaine .col-sm-6 h6 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1050px) {
    .domaine .col-sm-6:last-child {
        padding: 1rem;
    }

    .domaine .data {
        gap: 1rem;
    }
}

@media screen and (max-width: 850px) {
    .domaine .col-sm-6 h6 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 990px) {
    .domaine .grille {
        grid-template-columns: repeat(auto-fill, 100%);
    }

    .domaine .card {
        width: auto !important;
        margin: 0.2rem 1rem;
    }
}

@media screen and (max-width: 630px) {
    .domaine .data {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2rem;
    }

    .domaine .data .col-sm-6 {
        width: 100%;
    }
}