nav {
    position: fixed;
    z-index: 1000000;
    width: 100%;
    overflow: hidden;
    top: 0;
}

nav a {
    text-decoration: none;
}

nav#navbar .navBar {
    background-color: #020007;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

nav ul {
    margin-bottom: 0 !important;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    margin-right: 1rem;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

.logo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo span {
    color: #fff;
    font-size: 17px
}

nav .logo img {
    width: 62px;
}

nav .navBarVirtuel  {
    position: relative;
}

nav .navBarVirtuel ul{
    display: none;
}
nav .show ul{
   width: 100%;
   height: auto;
   padding-bottom: 1rem;
   background-color: #020007;
   color: #fff;
   display: block;
   z-index: 1;
   
}

nav .show ul li{
    display: flex;
   flex-direction: column;
   gap: 1rem;
}

nav .show ul li .btnSignUp{
    text-align: center;
}

nav .show ul li a{
    z-index: 1;
    color: #fff;
}

.navBar svg {
    display: none;
}

@media screen and (max-width:805px) {
    nav ul {
        display: none;
    }

    .navBar svg {
        display: block;
    }
}