.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    background-color: #fff;
}

.navBar .logo {
    width: 50px;
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none !important;
    color: crimson;
}

.navBar .logo span {
    font-size: 1.3rem;
    font-weight: 700;
}

.navBar .logo img {
    width: 100%;
}

.navBar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navBar ul li {
    display: flex;
}

.navBar ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #333;
}

.navBar .btnInscrisToi {
    border: 1px solid #ddd;
    background-color: #fb2638;
    color: #fff;
    padding: .6rem 1rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;
}

.navBar .btnInscrisToi:hover {
    background-color: #fff;
    color: #fb2638;
}

.navBar .btnInscrisToi div {
    font-size: 1.1rem;
}


.navBar #icons {
    cursor: pointer;
    display: none;
}

.navBar .btnIbnscr {
    display: none;
}

@media screen and (max-width:1155px) {
    .navBar {
        padding: 1rem 2rem;
    }
}

@media screen and (max-width:1045px) {
    .navBar .logo span {
        display: none;
    }
}

@media screen and (max-width:970px) {
    .navBar {
        padding: 1rem 2rem;
    }
}

@media screen and (max-width:900px) {
    .navBar #icons {
        display: block;
    }

    .navBar .logo span {
        display: block;
    }

    .navBar .logo {
        width: 35px;
    }

    .navBar .btnIbnscr {
        display: block;
        width: 40%;
    }

    .navBar .btnIbnscr a {
        display: block;
        border: 1px solid #ddd;
        background-color: #fb2638;
        color: #fff;
        padding: 1rem;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        text-decoration: none;
    }

    .navBar .btnInscrisToi {
        display: none;
    }

    .navBar {
        justify-content: space-between;
    }

    .navBar.active #icons::before {
        content: '\2715';
        font-size: 2rem;
        position: absolute;
        right: 5%;
        top: 1%;
    }

    .navBar #icons::before {
        content: "\2630";
        font-size: 2rem;
    }

    .navBar ul {
        position: fixed;
        left: -100%;
        top: 0;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: .25s;
        padding: 1rem;
        z-index: 1000000000;
        justify-content: center;
        overflow-y: scroll;
    }

    .navBar.active ul li {
        padding: 3px 0;
        color: #fff;
        font-size: 1.5rem !important;
    }

    .navBar ul li span {
        padding: 3px 0;
        color: #333;
        font-size: 1.5rem !important;
    }


    .navBar ul li:hover {
        color: #fb2638 !important;
    }

    .navBar.active ul {
        left: 0;
    }

    .header {
        display: none !important;
    }
}

@media screen and (max-width:500px) {
    .navBar .btnIbnscr {
        display: block;
        width: 90%;
    }

    .navBar {
        align-items: center;
    }
}