.pathLink {
    padding: 1rem 1rem 1rem 5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #ddd !important;
}

.pathLink a {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.collaboration {
    padding: 5rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    background-color: #fff;
    height: 500px;
}

.collaboration img {
    object-fit: cover;
    width: 50%;
    height: 400px;
}

.collaboration h4 {
    font-size: 1.6rem !important;
}

.collaboration p {
    text-align: justify;
}

@media screen and (max-width:1200px) {
    .collaboration img {
        width: 40% !important;
    }
}

@media screen and (max-width:910px) {
    .collaboration img {
        width: 50% !important;
    }
}

@media screen and (max-width:700px) {
    .collaboration {
        padding: 1rem;
        flex-direction: column;
        height: auto;
    }

    .collaboration img {
        width: 100% !important;
    }
}