@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:ital,wght@0,400;0,500;1,600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Poppins" !important;
}

body {
  background-color: silver !important;
}

section {
  width: 100%;
  padding: 5rem;
}

.card {
  transition: all 0.7s;
}

.card .card-body {
  font-size: 14px;
}

.card:hover {
  cursor: pointer;
}