@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open sans" !important;
  /*  box-shadow: 0 0 0 3px red inset; */
}

section {
  width: 100%;
  padding: 5rem 0;
}

.container {
  max-width: 1250px;
  margin: 0 8rem;
}

.card {
  transition: all 0.7s;
}

.card .card-body {
  font-size: 14px;
}

.card:hover {
  cursor: pointer;
  border: 1px solid #ce9900;
}
